<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>SRM | Subjects </title>
</head>
<body>
<nav th:replace="fragments/header :: nav"></nav>
<!--the following is for IntelliJ-->
<!--/*@thymesVar id="subject" type="com.srm.model.academic.Subject"*/-->

<div class="container-fluid">
    <!--Note that text is held in single quotes and this expression lies in double quotes-->
    <h1 th:text="'Subject list'">Heading placeholder</h1>

    <table class="table table-hover table-sm table-striped">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Subject</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject: ${subjects}">
            <th th:text="${subject.id}"></th>
            <th th:text="${subject.subjectName}"></th>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>