<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>SRM | Students</title>
</head>
<body>
<nav th:replace="fragments/header :: nav"></nav>
<!--the following is for IntelliJ-->
<!--/*@thymesVar id="student" type="com.srm.model.people.Student"*/-->

<div class="container-fluid">
    <!--Note that text is held in single quotes and this expression lies in double quotes-->
    <h1 th:text="'Student list'">Heading placeholder</h1>

    <table class="table table-hover table-sm table-striped">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${students}">
            <th th:text="${student.id}"></th>
            <th th:text="${student.firstName}"></th>
            <th th:text="${student.lastName}"></th>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>